body {
    background-color: #fafafa;
}

body > .content {
    padding-top: 63px;
}

.btn {
    font-size: 13px;
}

.btn-lg {
    font-size: 18px;
}

.nav-right {
    float: right;
}

.navbar .nav > li > a {
    font-size: 14px;
}

.jumbotron {
    text-align: center;
}

.jumbotron, .well {
    background-color: #fafafa;
}

.jumbotron p {
    font-size: 14px;
}

.jumbotron .lead {
    font-size: 21px;
}
